.container{
    margin: 0 auto;
    max-width: 900px;
    padding: 20px 30px;
}

.container h2{
    align-items: center;
    text-align: center;
}

.Products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Products div{
    margin: 30px;
}

.Products div h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: black;
    margin-bottom: 15px;
}

.album{
    overflow: hidden;
    box-shadow: 2px px 2px 2px rgba(0,0,0,0.5);
}